:root{
    --primary : #fff;
}

.btn{
    padding: 8px 20px;
    border-radius: 4.5px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background-color:var(--primary);
    color: #fff;
    border: 1px solid #fff;
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 19px;
    border: 2px solid #fff;
    transition: all 0.3s ease-in-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large{
    padding: 12px 25px;
    font-size: 20px;
}

.btn--mobile{
    text-align: center;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 22px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;

}

.btn--wide{
    padding: 12px 64px;
    font-size: 20px;
}

.btn--large:hover , .btn--medium:hover, .btn--mobile:hover{
    transition: all 0.3s ease-in;
    background: #fff;
    color: #fff;
}

.btn--wide:hover{
    color: var(--primary);
    background-color: #7d4e57;
    transition: all o.2s ease-out;
}

.blue{
    background-color: royalblue;
    color: var(--primary);
    border: none;
}

.red{
    background-color: #f00946;
    color: var(--primary);
    border: none;
}

.primary{
    background-color: #4a5759;
    color: var(--primary);
    border: none;
}

.primary:hover{
    background-color: #7d4e57;
    transition: ease-in;
    color: var(--primary);
    border: none;
}

.green{
    background-color: rgb(53, 201, 16);
    color: var(--primary);
    border: none;
}

.green:hover{
    background-color: black;
}



