body{
 font-family: 'Playfair Display',sans-serif; 
}

.show-news{
  background-image: url(/src/components/picture/markus-winkler-aId-xYRTlEc-unsplash.jpg) ;
  background-attachment: fixed;
  padding-top: 10px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-news.overlay{
  background-color: #11151c;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  color: #fff;
  padding-left: -2rem;
  position: relative;
  margin-top: 12vw;
  font-size: 8vw;
}

.news-detail{
  text-decoration: none;
  list-style: none;
}

.news-image{
  width:100%;
}