*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Playfair Display',sans-serif;
  }

.home-main{
  background-image: url(/src/components/picture/markus-spiske-3_SvgDspSTE-unsplash.jpg);
  background-attachment: fixed;
  padding-top: 10px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  
  }

  .home-title{
    color: #fff;
    font-weight: bolder;
    padding-left: -2rem;
    position: relative;
    margin-top: 10vw;
    font-size: 8vw;
    text-align:left;
  }

